.header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }
  
  .header h1 {
    margin-bottom: 20px;
  }
  
  .nav-tabs {
    justify-content: center;
    border-bottom: none;
  }
  
  .nav-item a {
    color: #007bff;
    margin: 0 10px;
    font-size: 1.2em;
  }
  
  .nav-item a.active {
    font-weight: bold;
    border-bottom: 3px solid #007bff;
  }
  